@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     font-family: "Roboto", sans-serif;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    position: static;
}
.logo-2{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #833ae0;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-bottom: 4px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    
}
.full-name{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 2px;
    background-color: #833ae0;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 300px;
    justify-items: end; 
    position: relative;
    left: 550px;
}
.logos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}
.links{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-size: 16px;
}
.links:hover{
    position: relative;
    bottom: 5px;
    left  : 5px;
    color: #833ae0;
}
.frame{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 600px;
    background-color: lavender;
    margin-left: 500px;
    position: relative;
    bottom: 60px;
    left: 400px;

}
.bar-childs{
    display: flex;
    flex-direction: column;
}
.main{
    margin-top: 20px;
    margin-left: 20px;
}
.sam{
    background-color: lavender;
    margin-top: 10px;
    width: 100px;
    padding-left: 10px;
}
.text-and-bar {
    display: flex;
    flex-direction: row;
}
.about{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.frame-inside{
    padding: 10px;
}
.top-p{
    margin-top: 20px;
}
.pad{
    padding-left: 10px;
    padding-top: 5px;
}
.gular{
    padding-left: 10px;
}